<IfModule mod_rewrite.c>
    RewriteEngine On
    # Si la solicitud no es un archivo o un directorio real,
    # la redirige internamente a api.php y añade el resto de la URL como PATH_INFO
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ api.php/$1 [L]
</IfModule>